body {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    border: 25px inset deepskyblue;
}

h1, h3, p, img {
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 25px;
    font-size: 20px;
    text-transform: uppercase;
}

img {
    width: 40%;
    display: block;
    margin: 10px auto;
    border: 2px solid deepskyblue;
}

strong {
    color: blue;
}
svg {
    margin: 40px;
}

#MyRinger {
    fill: red;
    stroke: orange;
    stroke-width: .1px;
}


#MyRinger:hover {
    fill: orange;
    stroke: red;
    stroke-width: .1px;
}